*{
    margin: 30px;
}

p{
    font-size: 58px;
    color: #353535;
    text-shadow: 1px 2px 0px rgba(225, 0, 246, 1),
        -1px -1px 0px rgba(0, 252, 255, 1);
}
input{
    background: #ff3b3b;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 26px;
    color: white;
    box-shadow: 0px 13px 18px 0px rgba(0, 0, 0, 0.26); 
}

input:hover{
    background: #ff3b3b;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 26px;
    color: white;
    box-shadow: 0px 13px 18px 0px rgba(0, 0, 0, 0.26) inset; 
}

.block1{
    width: 150px;
    height: 150px;
    background: #ff00f6;
        background: -moz-linear-gradient(-45deg, #ff00f6 0%, #00fcff 100%);
        background: -webkit-linear-gradient(-45deg, #ff00f6 0%,#00fcff 100%);
        background: linear-gradient(135deg, #ff00f6 0%,#00fcff 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff00f6', endColorstr='#00fcff',GradientType=1 );
}

.block2{
    border-radius: 100px;
    background: blue;
    width: 150px;
    height: 150px;
    background-image: -moz-linear-gradient( -45deg, rgb(41,10,89) 22%, rgb(255,124,0) 22%, rgb(255,124,0) 50%, rgb(41,10,89) 50%, rgb(41,10,89) 78%, rgb(255,124,0) 78%);
    background-image: -webkit-linear-gradient( -45deg, rgb(41,10,89) 22%, rgb(255,124,0) 22%, rgb(255,124,0) 50%, rgb(41,10,89) 50%, rgb(41,10,89) 78%, rgb(255,124,0) 78%);
    background-image: -ms-linear-gradient( -45deg, rgb(41,10,89) 22%, rgb(255,124,0) 22%, rgb(255,124,0) 50%, rgb(41,10,89) 50%, rgb(41,10,89) 78%, rgb(255,124,0) 78%);
}

.block3{
    width: 300px;
    height: 100px;
    background: #0080a0;
    box-shadow:  0px 22px 24px 0px rgba(225, 0, 0, 0.26),
        -27px -1px 32px 0px rgba(0, 179, 186, 0.47),
         26px 7px 32px 0px rgba(255, 150, 0, 0.47);
    
}

.list{
    margin: 0;
    padding: 0;
    counter-reset: num;
}

.list li{
    counter-increment: num;
    list-style: none;
    padding-left: 40px;
    position: relative;
}

.list li:before{
    content: "0" counter(num) ' ';
    position: absolute;
    left: 0;
    padding: 0px;
    font-family: fantasy;
    font-size: 20px;
    color: #fff;
    width: 35px;
    height: 100%;
    text-align: center;
    line-height: 35px;
    border-radius: 50px 0 0 50px;
}

.list li:nth-child(1){
    box-shadow: 10px 13px 18px -2px rgba(0, 0, 0, 0.26); 
    text-align: center;
    border-radius: 0 50px 50px 0;
}

.list li:nth-child(2){
    box-shadow: 10px 13px 18px -2px rgba(0, 0, 0, 0.36); 
    text-align: center; 
    border-radius: 0 50px 50px 0;
}

.list li:nth-child(3){
    box-shadow: 10px 13px 18px -2px rgba(0, 0, 0, 0.46); 
    text-align: center; 
    border-radius: 0 50px 50px 0;
}

.list li:nth-child(4){
    box-shadow: 10px 13px 18px -2px rgba(0, 0, 0, 0.56); 
    text-align: center; 
    border-radius: 0 50px 50px 0;
}

.list li:nth-child(1):before{   
    background: olive;
    box-shadow: 0px 13px 18px 0px rgba(0, 0, 0, 0.26) inset;
    text-shadow: -1px 1px 5px rgba(0, 0, 0, 5);
}

.list li:nth-child(2):before{   
    background: green;
    box-shadow: 0px 13px 18px 0px rgba(0, 0, 0, 0.26) inset;
    text-shadow: -1px 1px 5px rgba(0, 0, 0, 5);
}
.list li:nth-child(3):before{   
    background: yellow;
    box-shadow: 0px 13px 18px 0px rgba(0, 0, 0, 0.26) inset;
    text-shadow: -1px 1px 5px rgba(0, 0, 0, 5);
}
.list li:nth-child(4):before{   
    background: red;
    box-shadow: 0px 13px 18px 0px rgba(0, 0, 0, 0.26) inset;
    text-shadow: -1px 1px 5px rgba(0, 0, 0, 5);
}

.element1 p, .element2 p{
    font-size: 15px;
    text-shadow: -0 0 1px rgba(0, 0, 0, 5);
    color: black;
}
